/* do usuniecia ramki zaznaczania */
    .textarea:focus, .login:focus{
        outline: none;
        background-color: transparent;
    }
    .login:-webkit-autofill,
    .login:-webkit-autofill:hover,
    .login:-webkit-autofill:focus,
    .login:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        /* -webkit-text-fill-color: black ;    */
    }
    .lineAnimation{
        display: inline-block;
        position: relative;
        
    }

    .lineAnimation::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -7px;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .lineAnimation:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    @media (prefers-color-scheme: dark) {
        .lineAnimation::after {
            background-color: white;
        }
        .login:-webkit-autofill,
        .login:-webkit-autofill:hover,
        .login:-webkit-autofill:focus,
        .login:-webkit-autofill:active{
            -webkit-text-fill-color: white !important;
        }
    }

    @media (prefers-color-scheme: light) {
        .lineAnimation::after {
            background-color: black;
        }
        .login:-webkit-autofill,
        .login:-webkit-autofill:hover,
        .login:-webkit-autofill:focus,
        .login:-webkit-autofill:active{
            -webkit-text-fill-color: black !important;
        }
    }


    .wrapper::before{
        content: "";
        width: 100%;
        height: 100%;
        background: rgb(131,58,180);
        background: linear-gradient(30deg, rgba(131,58,180,1) 0%, rgba(29, 175, 253, 0.863) 25%, rgba(252, 69, 194, 0.89) 75%, rgba(131, 58, 180, 0.753) 100%);
        position: absolute;
        filter: blur(100px);
        background-size: 200%;
        animation: gradientAnim 5s ease-in-out infinite;
    }

    @keyframes gradientAnim {
        0%,100%{background-position: 0%;}
        50%{background-position: 100%;}
    }


.help{
    left: 30%;
    
}
